<p>
<label><%= l(:label_issue_watcher_groups) %></label>
<% Group.find(:all, :order => 'lastname').each do |group| %>
  <label class="floating">
    <input type="checkbox" value="<%= group.users.map(&:id).join(',') %>" onclick="checkWatchers(this.value.split(','), this.checked);">
    <%= group.lastname %>
  </label>
<% end %>
</p>

<% content_for :header_tags do %>
  <%= javascript_include_tag("watcher_groups.js", :plugin => "redmine_watcher_groups") %>
<% end %>
